USE [master]
GO
/****** Object:  Database [ClothesStore]    Script Date: 11/06/2024 15:16:48 ******/
CREATE DATABASE [ClothesStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ClothesStore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ClothesStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ClothesStore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ClothesStore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ClothesStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ClothesStore]
GO
/****** Object:  Table [dbo].[Clothes]    Script Date: 11/06/2024 15:16:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clothes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[idColor] [int] NOT NULL,
	[idSize] [int] NOT NULL,
	[price] [float] NOT NULL,
	[description] [varchar](256) NOT NULL,
 CONSTRAINT [PK_Clothes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClothesDeleted]    Script Date: 11/06/2024 15:16:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClothesDeleted](
	[id] [int] NOT NULL,
	[name] [varchar](50) NOT NULL,
	[idColor] [int] NOT NULL,
	[idSize] [int] NOT NULL,
	[price] [float] NOT NULL,
	[description] [varchar](256) NOT NULL,
	[dateDeleted] [date] NOT NULL,
 CONSTRAINT [PK_ClothesDeleted] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Colors]    Script Date: 11/06/2024 15:16:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colors](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Colors] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Size]    Script Date: 11/06/2024 15:16:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Size](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[value] [varchar](7) NOT NULL,
 CONSTRAINT [PK_Size] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Clothes]  WITH CHECK ADD  CONSTRAINT [FK_Clothes_Colors1] FOREIGN KEY([idColor])
REFERENCES [dbo].[Colors] ([id])
GO
ALTER TABLE [dbo].[Clothes] CHECK CONSTRAINT [FK_Clothes_Colors1]
GO
ALTER TABLE [dbo].[Clothes]  WITH CHECK ADD  CONSTRAINT [FK_Clothes_Size1] FOREIGN KEY([idSize])
REFERENCES [dbo].[Size] ([id])
GO
ALTER TABLE [dbo].[Clothes] CHECK CONSTRAINT [FK_Clothes_Size1]
GO
ALTER TABLE [dbo].[ClothesDeleted]  WITH CHECK ADD  CONSTRAINT [FK_ClothesDeleted_Colors] FOREIGN KEY([idColor])
REFERENCES [dbo].[Colors] ([id])
GO
ALTER TABLE [dbo].[ClothesDeleted] CHECK CONSTRAINT [FK_ClothesDeleted_Colors]
GO
ALTER TABLE [dbo].[ClothesDeleted]  WITH CHECK ADD  CONSTRAINT [FK_ClothesDeleted_Size] FOREIGN KEY([idSize])
REFERENCES [dbo].[Size] ([id])
GO
ALTER TABLE [dbo].[ClothesDeleted] CHECK CONSTRAINT [FK_ClothesDeleted_Size]
GO
USE [master]
GO
